//google fonts   font-family: "Open Sans", sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

//diğer scss dosyalarının import edilmesi
@import "./variables";
@import "./header";
@import "./global";
@import "./main";
@import "./educations";
@import "./aboutUs";
@import "./top-educations";
@import "./contact-us";
@import "./footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}
a {
  color: $text-color;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: $bg-color;
  color: $text-color;
}

section {
  padding: 70px 17% 60px;
}

.btn {
  display: inline-block;
  padding: 13px 40px;
  background-color: $main-color;
  color: $bg-color;
  font-size: 15px;
  font-weight: 600;
  border: 2px solid transparent;
  border-radius: 5px;
  @extend .transition;
  &:hover {
    border: 2px solid $text-color;
    transform: translateX(10px);
    background-color: transparent;
    color: $text-color;
  }
}
